<?xml version="1.0"?>
<robot name="$(arg zone_name)" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="zone_name" default="spawn_zone"/>
  <xacro:arg name="rgba" default="0.8 0.1 0.1 0.65"/>
  <xacro:arg name="gazebo_material" default="Gazebo/Red"/>
  <xacro:arg name="radius" default="0.65"/>

  <link name="zone_link">
    <visual>
      <geometry>
        <cylinder radius="$(arg radius)" length="0.015"/>
      </geometry>
      <material name="zone_color">
        <color rgba="$(arg rgba)"/>
      </material>
    </visual>
  </link>

  <!-- Visual-only and static: spawn zones never affect navigation collisions. -->
  <gazebo>
    <static>true</static>
  </gazebo>
  <gazebo reference="zone_link">
    <material>$(arg gazebo_material)</material>
  </gazebo>
</robot>
